@import "mixins.scss";

.backdrop {
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  animation-name: fadeIn;
  transition-property: opacity;
  display: flex;
  align-items: center;
  justify-content: center;

  &.isLeaving {
    opacity: 0;
  }
}

.modal {
  color: var(--link-active);
  font-size: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 600px;
  background: var(--header-bg);
  padding: 70px 150px;
  border-radius: 10px;
  transition-property: opacity;

  .close {
    position: absolute;
    top: -45px;
    right: -90px;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    color: var(--link-inactive);
    transition: color 0.2s;

    &:hover {
      color: var(--link-active);
    }
  }

  .title {
    font-family: Liana;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
  }

  .modalContent {
    padding-top: 10px;
  }

  .modalButtons {
    padding-top: 20px;
    text-align: right;

    .modalButton {
      margin-left: 15px;
    }
  }

  &.isLeaving {
    opacity: 0;
  }
}
