@import "mixins.scss";

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: var(--header-bg);
  padding: 0 60px;
  height: 80px;
  position: relative;
  z-index: 2;
  transition: background-color 0.2s;

  .logo {
    flex-grow: 0;
    font-family: Liana;
    font-size: 30px;
    line-height: 30px;
    user-select: none;

    &.linkStyle {
      color: var(--link-active);
    }
  }

  .menu {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    line-height: 80px;
    justify-content: center;

    .menuItem {
      position: relative;
      color: var(--link-inactive);
      text-transform: lowercase;
      user-select: none;
      padding: 0 25px;

      &.active,
      &:hover {
        color: var(--link-active);

        &.active {
          cursor: default;
        }
      }
    }
  }

  .themeSwither {
    width: 30px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid var(--link-inactive);
    cursor: pointer;
    position: relative;
    transition: border-color 0.2s;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--link-inactive);
      transition: background 0.2s, transform 0.2s ease-in-out;
    }

    &:hover {
      border-color: var(--link-active);

      &:after {
        background: var(--link-active);
      }
    }

    &.active {
      &:after {
        transform: translateX(30px - 12px);
      }
    }
  }

  .languageToggler,
  .themeIcon,
  .logoutIcon {
    cursor: pointer;
    color: var(--link-inactive);
    transition: color 0.2s;
    font-size: 18px;
    line-height: 18px;
    margin-left: 15px;

    &:hover {
      color: var(--link-active);
    }

    &.languageToggler {
      margin-left: 0;
      margin-right: 40px;
    }

    &.logoutIcon {
      margin-left: 40px;
    }
  }
}
