@import "mixins.scss";

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: var(--header-bg);
  padding: 0 60px;
  height: 80px;
  position: relative;
  z-index: 2;
  transition: background-color 0.2s;

  .logo {
    flex-grow: 0;
    font-family: Liana;
    font-size: 30px;
    line-height: 30px;
    user-select: none;

    &.linkStyle {
      color: var(--link-active);
    }
  }

  .menu {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    line-height: 80px;
    justify-content: center;

    .menuItem {
      text-transform: lowercase;
      padding: 0 25px;

      &.active {
        cursor: default;
        color: var(--link-active);
      }
    }
  }

  .menuItem,
  .languageToggler,
  .themeIcon,
  .logoutIcon {
    color: var(--link-inactive);
    user-select: none;
    transition: color 0.2s;

    &:hover {
      color: var(--link-active);
    }
  }

  .themeSwither {
    @include swither(30px, 14px);
  }

  .languageToggler,
  .themeIcon,
  .logoutIcon {
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    margin-left: 15px;

    &.languageToggler {
      margin-left: 0;
      margin-right: 40px;
    }

    &.logoutIcon {
      margin-left: 40px;
    }

    &.themeIcon {
      // Let left space being interactive
      padding-left: 15px;
      margin-left: 0;
    }
  }
}
